syntax: glob
**/packages/**
**.SCC
**.vssscc
**/bin/**
**/obj/**
EFCoreSecurity/EFCore-bin/Aqua.dll
EFCoreSecurity/EFCore-bin/Aqua.xml
EFCoreSecurity/EFCore-bin/DevExpress.EntityFamework.Authorization.dll
EFCoreSecurity/EFCore-bin/DevExpress.EntityFamework.Authorization.pdb
EFCoreSecurity/EFCore-bin/DevExpress.EntityFramework.SecurityDataStore.dll
EFCoreSecurity/EFCore-bin/DevExpress.EntityFramework.SecurityDataStore.pdb
EFCoreSecurity/EFCore-bin/JetBrains.Annotations.dll
EFCoreSecurity/EFCore-bin/JetBrains.Annotations.xml
EFCoreSecurity/EFCore-bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
EFCoreSecurity/EFCore-bin/Microsoft.Extensions.DependencyInjection.xml
EFCoreSecurity/EFCore-bin/Microsoft.Extensions.Logging.xml
EFCoreSecurity/EFCore-bin/Microsoft.Framework.DependencyInjection.Abstractions.dll
EFCoreSecurity/EFCore-bin/Microsoft.Framework.DependencyInjection.Abstractions.xml
EFCoreSecurity/EFCore-bin/Microsoft.Framework.DependencyInjection.dll
EFCoreSecurity/EFCore-bin/Microsoft.Framework.DependencyInjection.xml
EFCoreSecurity/EFCore-bin/Remotion.Linq.xml
EFCoreSecurity/EFCore-bin/System.Interactive.Async.xml
EFCoreSecurity/EFCore-bin/Microsoft.Extensions.PlatformAbstractions.dll
EFCoreSecurity/EFCore-bin/Microsoft.Extensions.PlatformAbstractions.xml
EFCoreSecurity/EFCore-bin/aqua-core.dll
